<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.1.7400.0">
	<securityTokenServiceSettings>
		<identityServerSettings enableLogging="True">
			<identityServerClients>
				<add clientId="mvc" enabled="True" flow="Implicit" allowAccessToAllScopes="True" clientName="mvc">
					<redirectUris>
						<add redirectUri="https://localhost:44367/" />
					</redirectUris>
					<postLogoutRedirectUris>
						<add redirectUri="https://localhost:44367/" />
					</postLogoutRedirectUris>
				</add>
			</identityServerClients>
		</identityServerSettings>
		<authenticationProviders>
			<add title="CustomSTS" enabled="True" name="CustomSTS" />
		</authenticationProviders>
	</securityTokenServiceSettings>
</authenticationConfig>