<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.1.7400.0" authCookieName=".SFAUTH-SitefinityExternalProvider" rolesCookieName=".SFROLES-SitefinityExternalProvider" validationKey="8C34A3CEB8808D0764345D487601DEB02EBCCA337D6958E71063A8975DB3442AF10FFFB5916F9EA6E0A752150FBFBE7042393D39E894CA18D7418C6BF947F9FE" decryptionKey="8CAB6E79C4C7B0BBC32B89A6FF953AE03894D13FF6255F37D988DABA71D5AA00" loggingCookieName=".SFLOG-SitefinityExternalProvider">
	<securityTokenIssuers>
		<add key="D9BD6BB1C63258FC6C08DC390607F979D3332117D97135158BAD0DABFAF6B8AF" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="D9BD6BB1C63258FC6C08DC390607F979D3332117D97135158BAD0DABFAF6B8AF" realm="http://localhost" />
	</relyingParties>
</securityConfig>